<h1>Atención Alumnos</h1>
<table class="alumnosTabla">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Boleta</th>
        <th>Plan</th>
        <th>Asunto</th>
        <th>Tipo</th>
        <th>Descripción</th>
    </tr>
    <tr>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.apellido }}</td>
        <td>{{ alumno.boleta }}</td>
        <td>{{ alumno.plan }}</td>
        <td>{{ alumno.asunto }}</td>
        <td>{{ alumno.tipo }}</td>
        <td>{{ alumno.descripcion }}</td>
    </tr>
</table>

<div class="navigation">
    {% if prev_alumno %}
        <a href="?id={{ prev_alumno.id }}" class="btn btn-primary">Anterior</a>
    {% else %}
        <button class="btn btn-primary" disabled>Anterior</button>
    {% endif %}

    {% if next_alumno %}
        <a href="?id={{ next_alumno.id }}" class="btn btn-primary">Siguiente</a>
    {% else %}
        <button class="btn btn-primary" disabled>Siguiente</button>
    {% endif %}
</div>

<a href="{% url 'alumno_edit' alumno.id %}" class="btn btn-warning">Editar</a>
<a href="{% url 'generate_docx' alumno.id %}" class="btn btn-success">Generar Folio</a>

